<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/appthree.css" %}">
</head>
<body>
    <div id="topheader">
        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <div class='navbar-brand' align=center>
                        分享日記
                    </div>
                </div>
                <ul class='nav navbar-nav'>
                    <li><a href='/admin'>後台管理</a></li>
                    <li><a href='/'>APP_MAIN</a></li>
                    <li><a href='/app_four/'>Home</a></li>
                        {% if username %}
                        <li><a href='/app_four/userinfo/'>個人資料</a></li>
                        <li><a href='/app_four/post/'>寫日記</a></li>
                        <li><a href='/app_four/logout/'>登出</a></li>
                        {% else %}
                        <li><a href='/app_four/login/'>登入</a></li>
                        {% endif %}
                </ul>
            </div>
            <script>
                /* When redirected, get current url path */
                $("#topheader li a").each(function (index, ele) {
                    if (window.location.origin + ele.getAttribute("href") === window.location.href) {
                        $(ele).parent().addClass("active");
                    }
                });
                /* Show click changes */
                $("#topheader li").click(function(){
                    $("#topheader li").each(function (index, ele) {
                        $(ele).removeClass("active");
                    });
                    $(this).addClass("active");
                });
            </script>
        </nav>
    </div>
</body>